body{

  background-color: #1d1e22;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}


.image{
  width: : 80%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: auto;
}

img {
  justify-content: center;
  height: 70vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

p {
  font-size: 15px;
  line-height: 22px;
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-align: center;
}

h1 {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Arial";
  opacity: 1;
  font-size: 38px;
}

center {
    position: absolute;
    display: flex;
    text-align: center;
}
